<div class="flip-box">
    <div class="flip-box-inner">
          <div class="flip-box-front">
            <p>Assignment1</p>
          </div>
          <div class="flip-box-back">
                <a [routerLink]='["/searchBook"]'>Assignment1</a>    
          </div>
    </div>
</div>
<div class="flip-box">
        <div class="flip-box-inner">
              <div class="flip-box-front">
                <p>Assignment2</p>
              </div>
              <div class="flip-box-back">
                    <a [routerLink]='["/birthdate"]'>Assignment2</a>  
              </div>
        </div>
    </div>
    <div class="flip-box">
            <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <p>Assignment3</p>
                  </div>
                  <div class="flip-box-back">
                        <a [routerLink]='["/passwordChecker"]'>Assignment3</a>
                  </div>
            </div>
        </div>

        <div class="flip-box">
                <div class="flip-box-inner">
                      <div class="flip-box-front">
                        <p>Assignment4</p>
                      </div>
                      <div class="flip-box-back">
                            <a [routerLink]='["/imageZooming"]'>Assignment4</a>
                      </div>
                </div>
            </div>

           
        <div class="flip-box">
                <div class="flip-box-inner">
                      <div class="flip-box-front">
                        <p>Assignment5</p>
                      </div>
                      <div class="flip-box-back">
                            <a [routerLink]='["/paintText"]'>Assignment5</a>
                      </div>
                </div>
            </div>
             
           
        <div class="flip-box">
                <div class="flip-box-inner">
                      <div class="flip-box-front">
                        <p>Assignment6</p>
                      </div>
                      <div class="flip-box-back">
                            <a [routerLink]='["/login"]'>Assignment6</a>
                      </div>
                </div>
            </div>
                      
            <div class="flip-box">
                    <div class="flip-box-inner">
                          <div class="flip-box-front">
                            <p>Assignment7</p>
                          </div>
                          <div class="flip-box-back">
                                <a [routerLink]='["/greetLanguage"]'>Assignment7</a>
                          </div>
                    </div>
                </div>     
                
            <div class="flip-box">
                    <div class="flip-box-inner">
                          <div class="flip-box-front">
                            <p>Assignment8</p>
                          </div>
                          <div class="flip-box-back">
                                <a [routerLink]='["productRating"]'>Assignment8</a>
                          </div>
                    </div>
                </div>     
            
                <div class="flip-box">
                        <div class="flip-box-inner">
                              <div class="flip-box-front">
                                <p>Assignment9</p>
                              </div>
                              <div class="flip-box-back">
                                    <a [routerLink]='["/changeCurrency"]'>Assignment9</a>
                              </div>
                        </div>
                    </div>     


                <div class="flip-box">
                        <div class="flip-box-inner">
                              <div class="flip-box-front">
                                <p>Assignment10</p>
                              </div>
                              <div class="flip-box-back">
                                    <a [routerLink]='["/input"]'>Assginment10</a>
                              </div>
                        </div>
                    </div>     
                

                <div class="flip-box">
                        <div class="flip-box-inner">
                              <div class="flip-box-front">
                                <p>Assignment11</p>
                              </div>
                              <div class="flip-box-back">
                                    <a [routerLink]='["/output"]'>Assignment11</a>
                              </div>
                        </div>
                    </div>     

                
                    <div class="flip-box">
                            <div class="flip-box-inner">
                                  <div class="flip-box-front">
                                    <p>Assignment12</p>
                                  </div>
                                  <div class="flip-box-back">
                                        <a [routerLink]='["/reactiveForm"]'>Assignment12</a>
                                  </div>
                            </div>
                        </div>     