<div class="navbar">
            <a [routerLink]='["/home"]' routerLinkActive="active">Home</a>  
            <a [routerLink]='["assignments"]'>Assignments</a>
            <a [routerLink]='["/searchBook"]'>Assignment1</a>    
            <a [routerLink]='["/birthdate"]'>Assignment2</a>
            <a [routerLink]='["/passwordChecker"]'>Assignment3</a>
            <a [routerLink]='["/imageZooming"]'>Assignment4</a>
            <a [routerLink]='["/paintText"]'>Assignment5</a>
            <a [routerLink]='["/login"]'>Assignment6</a>
            <a [routerLink]='["/greetLanguage"]'>Assignment7</a>
            <a [routerLink]='["productRating"]'>Assignment8</a>
            <a [routerLink]='["/changeCurrency"]'>Assignment9</a>
            <a [routerLink]='["/input"]'>Assginment10</a>
            <a [routerLink]='["/output"]'>Assignment11</a>
            <a [routerLink]='["/reactiveForm"]'>Assignment12</a>
</div>

<router-outlet></router-outlet>
